<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ"} %highlight(%-5p) [%thread] %X{userId} %c - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/usr/local/var/log/pokercraft.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>
                #[%d{yyyy-MM-dd HH:mm:ss.SSS}|%-25.25t|%highlight(%-5level)|%logger{50}|%M|%msg|%ex]#%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/var/log/pokercraft.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="errorLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/usr/local/var/log/pokercraft-error.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>
                #[%d{yyyy-MM-dd HH:mm:ss.SSS}|%-25.25t|%highlight(%-5level)|%logger{50}|%M:%L|%msg|%ex]#%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/var/log/pokercraft-error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.nsuslab" level="DEBUG" additivity="false">
        <appender-ref ref="logfile" />
    </logger>

    <logger name="com.couchbase" level="INFO" additivity="false">
        <appender-ref ref="logfile" />
    </logger>

    <logger name="com.nsuslab" level="ERROR" additivity="false">
        <appender-ref ref="errorLogfile" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </root>
</configuration>
