<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinny.java.springboot.multidb.mapper.denma.DenmaMapper">

<insert id="insertEmoji" parameterType="java.util.HashMap">
    insert into tourney_test
    (tourney_id, name)
    values (
        #{tourneyId},
        #{name}
    )

</insert>

    <select id="selectEmoji" parameterType="java.util.HashMap" resultType="java.lang.String">

        select name from tourney_test where tourney_id = #{tourneyId}
    </select>



</mapper>