<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinny.java.springboot.lottery.mapper.LotteryMapper">

    <insert id="insertLottoNumber" parameterType="java.util.HashMap">
        insert into lucky_lottery (date, drw_no, number_type, drwt_no)
        values (#{date}, #{drwNo}, #{numberType}, #{drwtNo})
    </insert>

    <select id="selectLastDrwNo" resultType="java.lang.Integer">
        select max(drw_no)
        from lucky_lottery
    </select>
    
    <sql id="getRecentNumberList">
        select drwt_no, count(*) as cnt
        from lucky_lottery
        where drw_no > #{count}
        group by drwt_no
    </sql>
    
    <select id="getLottoNumber1" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select drwt_no
        from (
            <include refid="getRecentNumberList"/>
        ) a
        order by cnt desc
        limit 20
    </select>

    <select id="getLottoNumber2" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select drwt_no
        from (
        <include refid="getRecentNumberList"/>
        ) a
        <![CDATA[
            where cnt < 3
        ]]>
        order by drwt_no
    </select>

    <select id="getLottoNumber3" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select drwt_no
        from (
        <include refid="getRecentNumberList"/>
        ) a
        <![CDATA[
            where cnt >= 4
        ]]>
        order by cnt desc
    </select>

    <select id="getLottoNumber4" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select drwt_no
        from (
        <include refid="getRecentNumberList"/>
        ) a
        <![CDATA[
            where cnt between 2 and 3
        ]]>
        order by cnt desc
    </select>

    <select id="getLottoNumber5" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select drwt_no
        from (
        <include refid="getRecentNumberList"/>
        ) a
        <![CDATA[
            where cnt <= 2
        ]]>
        and drwt_no in (
            select drwt_no from lucky_lottery c where c.drw_no > #{count} + 7
        )
        order by cnt desc
    </select>
</mapper>