<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsuslab.denma.backend.migration.mapper.rebuild.RebuildMapper">

    <update id="updateExchageRateForTourneyInformation" parameterType="java.util.HashMap">
        update tourney_information
        set
        integrated_buy_in = floor(buy_in * #{exchangeRate}),
        integrated_entrance_fee = floor(entrance_fee * #{exchangeRate}),
        integrated_bounty_amount = floor(bounty_amount * #{exchangeRate})
        where tourney_id = #{tourney_id}
    </update>

    <update id="updateExchageRateForTourneyPlayerResult" parameterType="java.util.HashMap">
        update tourney_player_final_result
        set
        integrated_award_amount = floor(award_amount * #{exchangeRate}),
        integrated_bounty_prize = floor(bounty_prize * #{exchangeRate})
        where tourney_id = #{tourney_id}
    </update>

    <update id="updateExchageRateForTourneyStakingInfo" parameterType="java.util.HashMap">
        update tourney_staking_info
        set
        integrated_profit = floor(profit * #{exchangeRate})
        where tourney_id = #{tourney_id}
    </update>

    <update id="updateExchageRateForTourneyStakingAction" parameterType="java.util.HashMap">
        update tourney_staking_action
        set
        integrated_amount = floor(amount * #{exchangeRate}),
        integrated_reward = floor(reward * #{exchangeRate})
        where tourney_id = #{tourney_id}
    </update>


</mapper>